.car__wrapper {
  border: solid black;
}

.car-buttons {
  display: flex;
}

.car-track-controllers {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.car-track-wrapper {
  display: flex;
  justify-content: space-between;
}

.car-track {
  width: 100%;
  position: relative;
}

.car-body {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 1s linear;
}

.green-btn {
  border: solid green;
}

