.car__wrapper {
  width: 100%;
  border: solid black;
}

.car-buttons {
  display: flex;
}

.car-track-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.car-track-controllers {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.car-track {
  width: 100%;
  position: relative;
}

.car-body {
  width: 8rem;
  height: 4rem;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all linear;
}

.green-btn {
  border: solid green;
}

.flag {
  background: url('../../../assets/red-flag (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
  transform: translateX(-4rem);
}

