.car__wrapper {
  width: 100%;
  border: solid black;
}

.car-buttons {
  display: flex;
  align-items: center;
}

.car-track-wrapper {
  display: flex;
  justify-content: space-between;
}

.car-buttons p {
  margin: 0;
}

.car-track-controllers {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.car-track {
  width: 100%;
  position: relative;
}

input {
  margin-right: 0.5rem;
}

.car-body {
  width: 12%;
  height: 5rem;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all linear;
}

.green-btn {
  border: solid green;
  width: 3rem;
  height: 3rem;
  margin-right: 0.3rem;
}

.flag {
  background: url('../../../assets/red-flag (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
  transform: translateX(-4rem);
}

